html,
body,
#app {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

body {
  height: 600px;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-black text-white cursor-pointer
    hover:bg-gray-800
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.logo {
  @apply inline-block cursor-pointer;
}

.logo img {
  @apply w-[auto] h-[32px];
}

iframe {
  @apply w-full;
}
